:root{
    box-sizing: border-box;
}

.accordion-body-antipasti{
    background-image: url("/image/cibo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.accordion-body-primi{
    background-image: url("image/pasta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.accordion-body-secondi{
    background-image: url("image/tagliata.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.accordion-body-contorni{
    background-image: url("image/contorni.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.affettato{
    width: 200px;
}

.logo-img{
    width: 100px;
    height: 100px;
}

.bruschetta{
    width: 200px;
}

.provola{
    width: 200px;
}

.buffet{
    width: 200px;
}

.vitello{
    width: 200px;
}

.maiale{
    width: 200px;
}

.salsiccia{
    width: 200px;
}

.tagliata{
    width: 200px;
}


a:hover{
    background-color: blue;
}

